{% extends "base.html" %}

{% block title %}Product Detail{% endblock %}

{% block content %}

<ul>
    <li class="text-capitalize">
        {{x.product__name}}
    </li>
    <ul class="list-unstyled">
        <li>SKU: {{x.sku}}
        <li>Price: £{{x.store_price}}</li>
        <li>{{x.attribute_values__attribute_value}}</li>
        <li>Stock: {{x.product_inventory__units}}</li>
    </ul>
</ul>

<ul>
    {% for y in z %}
    <li class="text-capitalize">
        {{y.product_attribute__name}}
        <ul>
            {% for a in filter %}
            {% if a.attribute_values__product_attribute__name == y.product_attribute__name %}
            <li class="text-capitalize">
                {% if a.attribute_values__attribute_value in x.field_a %}
                <div id="target-{{a.attribute_values__attribute_value}}" class="selected fw-bold"
                     data-attribute="{{y.product_attribute__name}}" value="{{a.attribute_values__attribute_value}}">
                    {{a.attribute_values__attribute_value}}
                </div>
                {% else %}
                <div id="target-{{a.attribute_values__attribute_value}}" class=""
                     data-attribute="{{y.product_attribute__name}}" value="{{a.attribute_values__attribute_value}}">
                    {{a.attribute_values__attribute_value}}
                </div>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

<script>

  var d = {}

  let textBoxes = document.querySelectorAll('[id^=target]');

  let e = 0
  let f = textBoxes.length

  for (let i in textBoxes) {
    if (e < f) {
      if (textBoxes[i].classList.contains("selected")) {
          d[textBoxes[i].getAttribute('data-attribute')] = textBoxes[i].getAttribute('value')
      }
    } else {
      break
    }
    e++
  }

   $('[id^=target]').click(function () {
    const value = this.getAttribute('value');
    d[this.getAttribute('data-attribute')] = this.getAttribute('value')
    const querystring = buildUrlWithParams(d)
    const url = window.location.href.split('?')[0]
    window.location.href = url + "?" + querystring;
  });

  function buildUrlWithParams(data) {
    var searchparams = [];
    for (var d in data)
      searchparams.push(d + '=' + data[d]);
    return searchparams.join('&');
  }


</script>

{% endblock %}